---
import Layout from '../layouts/BlogPost.astro';

const AboutHeroImage = "/images/me.jpeg";
const showHeroIage=true;
---

<Layout
	title="who am i?"
	description="about me"
	pubDate={new Date('2026-02-14')}
	showHeroImage={true}
	heroImage={AboutHeroImage}
>
	<p>
		<div class="post-text">

		Hey, I'm Di. I'm a 25-year-old human being currently based in Paris. I shoot shows wherever I go because I'm there anyway, and I post them here.
	</div>
	</p>

	<p>
		<div class="post-text">

		Email: <a href="mailto:dilayduzler@gmail.com">dilayduzler@gmail.com</a><br />
		For press passes and collabs, get in touch.
	</div>
	</p>

	<div class="post-text">

	<blockquote class="lyric">
		<p>I don't wanna waste my time becoming another casualty of society.</p>
	</blockquote>
	</div>
</Layout>
