---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="who am i?"
	description="about me"
	pubDate={new Date('February 14 2026')}
	heroImage={AboutHeroImage}

	<p>
	Hey, I'm Di. I'm a 25 year old human being currently based in Paris. I shoot concerts and post them here.
	I shoot concerts in Paris and wherever.
	
	</p>
	

	<p>
I shoot concerts because I'm there anyway. 
Always have been. At some point I figured 
I should have something to show for it.
	</p>


	<p>
	Instagram: <a href="https://instagram.com/spacepumk">@spacepumk</a><br/>
	Email: <a href="mailto:dilayduzler@gmail.com">dilayduzler@gmail.com</a><br/>
	For press passes and collabs, get in touch.
	</p>

	<blockquote class="lyric">
  <p>I don't wanna waste my time become another casualty of society.</p>
</blockquote>

</Layout>
