---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="who am i?"
	description="about me"
	pubDate={new Date('February 14 2026')}
	heroImage={AboutHeroImage}

	<p>
	I'm Di. 
	I shoot concerts in Paris and wherever.
	</p>

	<p>	
	I don't wanna waste my time become another casualty of society.
	</p>


	<p>
	Next shows: 
	Nirvana 
	(Paris, 2026),

	</p>

	<p>
	Past shows: Deftones, Pierce the Veil, 
	Slowdive, Empire of the Sun, Jakuzi.
	</p>

	<p>
	Instagram: <a href="https://instagram.com/spacepumk">@spacepumk</a><br/>
	Email: <a href="mailto:dilaysduzler@gmail.com">dilay.duzler@gmail.com</a><br/>
	For press passes and collabs, get in touch.
	</p>

</Layout>
